
body{
  margin-left: auto;
  width: 100%;
  font-family: "monospace";
}

#main-container{
  margin-left: auto;
  text-align: center;
}

#title{
  text-align: center;
}

#sub{
  font-size: 14px;
}

.data{
  width: 100%;
}

h2{
  width: 100%;
}

#App {
 position: relative;
 width: 100%;
 height: 100%;
}

.choiceList{
  display: inline-block;
   margin: 0 auto;
}

.choice{
  text-align: left;
}


button{
   background-color: #0495c9;
   font-size: 50px;
   font-family: "monospace";
}

.btn-group-vertical > button{
    margin-bottom:20px;
    height: 50px;
    border-radius:5px !important;
    color: #fff;
}

.votePage {
  text-align: center;
  font-family: "monospace";
  color: #89cff0;
  font-size: 70px;
}

.questionPrompt {
  margin-bottom: 20px;
  font-family: "monospace";
}