:focus {
  outline: 0;
}

body{
  margin-left: auto;
  width: 100%;
  font-family: "monospace";
}

#main-container{
  margin-left: auto;
  text-align: center;
}

#title{
  text-align: center;
}

#sub{
  font-size: 14px;
}

.data{
  width: 100%;
}

h2{
  width: 100%;
}

#App {
 position: relative;
 width: 100%;
 height: 100%;
}

.choiceList{
  display: inline-block;
   margin: 0 auto;
}

.choice{
  text-align: left;
}

#content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.login {
  width: 22.5%;
  margin: auto;
  margin-top: 80px;
}

.secret {
  width: 22.5%;
  margin: auto;
  margin-top: 80px;
}

input[type="password"] {
  font-size: 24px;
  border: none;
  width: 97%;
  padding-left: 15px;
  margin: 15px 13px 0px 3px;
  border: 3px solid #89cff0;
  line-height: 1.8;
}

.error {
  margin-top: 15px;
  font-size: 18px;
  color: red;
}

.logo {
  font-family: monospace;
  margin-bottom: 15px;
  font-size: 55px;
  color: #89cff0;
}

.logo-small {
  /*background-image: url('http://www.ifias.ca/wp-content/uploads/2015/05/poll-topic-xxl.png');
  background-repeat: no-repeat;*/
  font-family: monospace;
  margin-bottom: 0px;
  /*width: 50;
  height: auto;*/
  font-size: 66px;
  color: #89cff0;
  /*border: 1px solid black;*/
}

.secret {
  width: 80%;
}

.question {
  /* code perhaps? */
}

.answer {
  padding-left: 55px;
}

.title {
  font-family: monospace;
  font-size: 38px;
  display: inline-block;
  padding: 5px 0px 5px 15px;
  color: #0495c9;
}

.input {
  font-family: monospace;
  font-size: 24px;
  display: inline-block;
  padding: 5px 0px 5px 15px;
}

input[type="text"] {
  font-family: monospace;
  font-size: 24px;
  line-height: 1.5px;
  padding-left: 5px;
  width: 280%;
}

.answer input[type="text"] {
  width: 261%;
}

.secret input[type="button"] {
  display: inline-block;
  margin-left: 800px;
  margin-top: 50px;
  width: 120px;
  height: 55px;
  border: 4px #0495c9 solid;
  background-color: white;
  font-size: 25px;
  color: #0495c9;
}

button{
   background-color: #0495c9;
   font-size: 50px;
   font-family: "monospace";
}

.btn-group-vertical > button{
    margin-bottom:20px;
    height: 50px;
    border-radius:5px !important;
    color: #fff;
}

.votePage {
  text-align: center;
  font-family: "monospace";
  color: #89cff0;
  font-size: 70px;
}

.questionPrompt {
  margin-bottom: 20px;
  font-family: "monospace";
}
